importing libraries

In [2]:
import pandas as pd

connecting with google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

taking the path and reading csv

In [8]:
path="/content/drive/MyDrive/Datasets/Iris.csv"
df=pd.read_csv(path)

first 5 records

In [7]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

first 5 records

In [6]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

for columns and rows

In [19]:
df.shape

(150, 6)

for columns

In [11]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

datatypes

In [13]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

for null values

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

missing values

In [20]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

type of dataframe

In [21]:
type(df)

pandas.core.frame.DataFrame

number of values

In [15]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

decribe=columns+rows

In [16]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

to include all

In [25]:
df.describe(include="all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

sample observations

In [17]:
df.sample()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
35  36            5.0           3.2            1.2           0.2  Iris-setosa

In [18]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
104,105,6.5,3.0,5.8,2.2,Iris-virginica
37,38,4.9,3.1,1.5,0.1,Iris-setosa
36,37,5.5,3.5,1.3,0.2,Iris-setosa
133,134,6.3,2.8,5.1,1.5,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
10,11,5.4,3.7,1.5,0.2,Iris-setosa

index

In [26]:
df.index

RangeIndex(start=0, stop=150, step=1)

columns

In [28]:
df.columns=["id","sepal_length","sepal_width","petal_length","petal_width","species_name"]

specific column

In [29]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [32]:
df[["sepal_length","sepal_width","species_name"]]

     sepal_length  sepal_width    species_name
0             5.1          3.5     Iris-setosa
1             4.9          3.0     Iris-setosa
2             4.7          3.2     Iris-setosa
3             4.6          3.1     Iris-setosa
4             5.0          3.6     Iris-setosa
..            ...          ...             ...
145           6.7          3.0  Iris-virginica
146           6.3          2.5  Iris-virginica
147           6.5          3.0  Iris-virginica
148           6.2          3.4  Iris-virginica
149           5.9          3.0  Iris-virginica

[150 rows x 3 columns]

to create dataframe

In [36]:
df=pd.DataFrame([["Name", "Age", "Sex"],["latha",30, "female"],["lali",34, "female"]])

In [37]:
df

       0    1       2
0   Name  Age     Sex
1  latha   30  female
2   lali   34  female

In [38]:
df=pd.DataFrame([["Name", "Age", "Sex"],["latha",30, "female"],["lali",34, "female"]],columns=["Name","Age","Sex"])

In [39]:
df

    Name  Age     Sex
0   Name  Age     Sex
1  latha   30  female
2   lali   34  female

to add index

In [44]:
df.index=["name1","name2","name3"]
df

        Name  Age     Sex
name1   Name  Age     Sex
name2  latha   30  female
name3   lali   34  female

to change column name

In [45]:
df.index

Index(['name1', 'name2', 'name3'], dtype='object')

to change name

In [47]:
df.rename(index={"name1":"name_1"})

         Name  Age     Sex
name_1   Name  Age     Sex
name2   latha   30  female
name3    lali   34  female

In [48]:
df

        Name  Age     Sex
name1   Name  Age     Sex
name2  latha   30  female
name3   lali   34  female

In [49]:
df.rename(index={"name1":"name_1"},inplace=True)

to change column name

In [52]:
df.rename(columns={"Name":"names"},inplace=True)
df

        names  Age     Sex
name_1   Name  Age     Sex
name2   latha   30  female
name3    lali   34  female

Dataframe2

In [53]:
scores={"math":[34,45,56],"env":[34,45,56],"eng":[34,45,56]}
scores

{'math': [34, 45, 56], 'env': [34, 45, 56], 'eng': [34, 45, 56]}

In [57]:
df=pd.DataFrame(scores,index=["name_1","name_2","name_3"])
df

        math  env  eng
name_1    34   34   34
name_2    45   45   45
name_3    56   56   56

In [58]:
df1=df[:]

to drop

In [59]:
df1.drop("name_2")

        math  env  eng
name_1    34   34   34
name_3    56   56   56

In [64]:
df1

        math  env  eng
name_1    34   34   34
name_2    45   45   45
name_3    56   56   56

In [65]:
df1.drop("name_2",inplace=True)

<ipython-input-65-66bba1e7ab32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop("name_2",inplace=True)

In [66]:
df1

        math  env  eng
name_1    34   34   34
name_3    56   56   56

to drop column axis=1||||||||
to drop row axis=0

In [68]:
df1.drop("eng",axis=1)

        math  env
name_1    34   34
name_3    56   56

In [76]:
df1.drop(["eng","env"],axis=1)

        math
name_1    34
name_3    56

In [77]:
df1

        math  env  eng
name_1    34   34   34
name_3    56   56   56

if u dont want to see the value again

In [78]:
df1.drop(["eng","env"],axis=1,inplace=True)

<ipython-input-78-4ead3ff89a0b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(["eng","env"],axis=1,inplace=True)

In [79]:
df1

        math
name_1    34
name_3    56

to locate

In [80]:
df.loc["name_3"]

math    56
env     56
eng     56
Name: name_3, dtype: int64

In [81]:
df.loc[["name_3","name_1"]]

        math  env  eng
name_3    56   56   56
name_1    34   34   34

to set index

In [82]:
df.set_index("env",inplace=True)
df

     math  eng
env
34     34   34
45     45   45
56     56   56

location of row and column
0 stands for row and 1 stands for column

In [83]:
df.iloc[0,1:]

eng    34
Name: 34, dtype: int64

In [88]:
df.iloc[1,0]

45

In [90]:
df.iloc[[0,1],[1,0]]

     eng  math
env
34    34    34
45    45    45

to add someother column

In [91]:
df["lan"]=80
df

     math  eng  lan
env
34     34   34   80
45     45   45   80
56     56   56   80

In [95]:
df.loc[3]=[10,89,89]
df

     math  eng  lan
env
34     34   34   80
45     45   45   80
56     56   56   80
3      10   89   89